<!-- public/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="/style/index.css">
    <!-- Include FullCalendar CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.css" rel="stylesheet">
</head>
<body>

    <div class="continer">
    
        <a class="ButtonLink" href="http://localhost:8080/"><button class="ButtonToGoBack">Go Back</button></a>
        
    </div>

    <div id="calendar"></div>
    
    <!-- Include FullCalendar JavaScript from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            // Make AJAX request to fetch events from server
            fetch('/api/events')
                .then(response => response.json())
                .then(events => {
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        //plugins: [ 'dayGrid' ],
                        //defaultView: 'dayGridMonth',
                        events: events
                    });

                    calendar.render();
                })
                .catch(error => {
                    console.error('Error fetching events:', error);
                });
        });    
    </script>

    
    

</body>

<style>
    .continer{
        position: relative;
        top: 3em;
    }
    .ButtonToGoBack{
    border: 0.2em solid sienna;
    border-radius: 25%;
    background-color: sandybrown;
    position: absolute;
    bottom: 0.3em;
    padding: 1em;
    left: 123em;
    }

    a.ButtonLink{
    color: black;
    }
</style>

</html>
